/* ユーザー情報テーブル */

#table-user {
  table-layout: fixed; width: 100%;
  th {
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
  }
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-form {
  margin-top: 5px;
}

.btn-form {
  margin-top: 10px;
}